
/* .home-container{
    margin: 0 1rem;
    padding: 0 1rem;
} */
.product-sidebar{
    display: flex;
    gap: 3rem;
    margin: 1rem;
}
.product-home{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  gap: 2rem;
}

@media only screen and (max-width: 1000px) {
  /* .product__filter{
    display: block !important;
  } */
    
  .product-home {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 2rem;
  }
}


@media only screen and (max-width: 600px) {
  /* .filter__btn{
    width: 40px;
    height: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
    display: block;
    border: none;
    cursor: pointer;
  }
  .search__btn{
    background-color: black;
  }
  .close__btn{
    display: block;
    cursor: pointer;
  }


  .product__filter{
    display: none !important;
  }

  .product__filter.visible {
    display: block !important;
    width: 50%;
    position: absolute;
    z-index: 100;
    background: rgb(255, 255, 255);
    border-radius: 6px;
  } */


  .product-home {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 2rem;
    margin: 0 auto;

    position: relative;
    z-index: 10;
  }
}