.product-card{
    padding: 10px 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 6px;
  }
  
  .product-card:hover{
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  .product-name{
   z-index: auto;
   font-weight: 500;
   font-size: 1.2rem;
  }
  .product-image{
   
  }
  .product-img{
    width:200px; 
    height:200px;
    border-radius: 10px;
  }
  .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  
  }
  .product-btn{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-transform:uppercase;
  }
  .product-btn_del{
    width: 100px;
    height: 30px;
    background-color:#d62323;
    transition: 0.7s;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-transform:uppercase;
  }
  .product-btn_del:hover{
     background-color:#ad003a;
  }
  
  .product-btn:hover{
    background-color:#5e5e5e;
    transition: 0.7s;
  }
  .product-price{
    display: flex;
    align-items: center;
  }
  
  .product-condition{
   color: black;
   margin-top: 15px;
  }
  
  .adjacent-btns-remove,.adjacent-btns-add{
    width: 35px;
    height: 30px;
    background-color: rgb(77, 77, 77);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .adjacent-btns-remove:hover{
    background-color:#ad003a;
    transition: 0.7s;
  }
  .adjacent-btns-add:hover{
    background-color:#00ad4e;
    transition: 0.7s;
  }
  .products-counter{
    padding: 6px 7px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
  }